# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.title': [
    {
      'label': 'Rename Tab'
      'command': 'tab-rename:renameClick'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Rename Tab'
      'submenu': [
        {
          'label': 'Rename active tab'
          'command': 'tab-rename:renameKeyboard'
        }
      ]
    ]
  }
]
